speakers:
 Front Bedroom:
  switch: "switch.front_bedroom_speakers"
 Rear Bedroom:
  switch: "switch.rear_bedroom_speakers"
  auto: False
 Living Room: {}
 Kitchen:
  switch: "switch.kitchen_speakers"
homeassistant:
 url: "https://homeassistant.example.com"
 token: "..."
consume-auto-off: False
doorbell:
 Doorbell:
  command: "aplay -D doorbell doorbell.wav"
